.content {
  margin-top: 60px;
  padding: 20px;
  width: 100%;
}

h1 {
  width: 100%;
  font-weight: 900;
}

#auth-image {
  border-radius: 50%;
}

#choice1, #choice2, #choice3, #choice4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#intro-2 {
  color: #5bc0de
}

